{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4 pt-2">
        Add New Post
    </legend>
    <p>Here is an example feature for adding posts to a webpage.</p>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="pb-2">
            <h8>Content</h8>
        </div>
        <textarea id="summernote" name="editordata"></textarea>
        <div class="form-group pt-4">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<script>
    $('#summernote').summernote({
      placeholder: 'Enter Post Content Here',
      tabsize: 2,
      height: 400
    });
</script>
{% endblock content %}