{% extends "layout.html" %}
{% block content %}
<div class="container pt-4">
    <h2>Website Posts</h2>
    <p>Here is an example of a website user posting feature.</p>
    <p>
        General users of the site cannot access the CMS for the website, 
        it is using the <a href="https://summernote.org/" target="_blanks">summernote</a>
        wysiwyg (what you see is what you get) editor.
    </p>
    <p>
        Posts are then saved to a database as html to be loaded and 
        displayed as required.
    </p>
    <p>
        Posts can also be tagged with key identifiers to aid end users in 
        searching through a sites content. 
    </p>
    <p>
            The tags are displayed as Badges: 
        <span class="badge badge-primary">Example</span>
    </p>
    <p>
        To arrange access to use the CMS within this site please send me an  
        <a href="mailto:dfenwick138@gmail.com">email</a>.
    </p>
</div>
<div class="content-section pt-2">
    
    {% for post in allPosts.items %}
        <div class="container pt-2">
            <div class="container-fluid pb-2 pt-4">
                <div class="media">
                    <div class="media-left">
                        <img src="{{url_for('static', filename='pics/profiles/'+post.author.profilePic)}}" class="media-object rounded-circle border" style="width:60px">
                    </div>
                    <div class="media-body pl-2">
                        <h4 class="mt-0"><a href="{{(url_for('posts.viewPost', postID=post.id|string))}}">{{ post.title }}</a></h4>
                        {{ post.content|safe }}
                        <small class="text-muted">
                            <div>
                                {% for tag in postTags %}
                                    {% if tag.PostTagsPosts.post_id ==  post.id %}
                                        <a href="{{(url_for('posts.viewPostsByTag', tagName=tag.PostTags.tagName))}}" class="badge {{ tag.TagTypes.tagType }}">{{ tag.PostTags.tagName }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <i>
                                Created By: {{ post.author.username }} on {{ post.date_posted.strftime('%d-%m-%Y') }} 
                            </i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="container-fluid text-center pt-2">
        {% for page_num in allPosts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if allPosts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('posts.viewPosts', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.viewPosts', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}