{% extends "layout.html" %}
{% block content %}
<div class="container pt-4">
    <h2>Website Posts Tagged With {{ tagName }}</h2>
</div>
<div class="content-section pt-2">
    
    {% for post in allPosts.items %}
        <div class="container pt-2">
            <div class="container-fluid pb-2 pt-4">
                <div class="media">
                    <div class="media-left">
                        <img src="{{url_for('static', filename='pics/profiles/'+post.Post.author.profilePic)}}" class="media-object rounded-circle border" style="width:60px">
                    </div>
                    <div class="media-body pl-2">
                        <h4 class="mt-0"><a href="{{(url_for('posts.viewPost', postID=post.Post.id|string))}}">{{ post.Post.title }}</a></h4>
                        {{ post.Post.content|safe }}
                        <small class="text-muted">
                            <div>
                                {% for tag in postTags %}
                                    {% if tag.PostTagsPosts.post_id ==  post.Post.id %}
                                        <a href="{{(url_for('posts.viewPostsByTag', tagName=tag.PostTags.tagName))}}" class="badge {{ tag.TagTypes.tagType }}">{{ tag.PostTags.tagName }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <i>
                                Created By: {{ post.Post.author.username }} on {{ post.Post.date_posted.strftime('%d-%m-%Y') }} 
                            </i>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="container-fluid text-center pt-2">
        {% for page_num in allPosts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if allPosts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('posts.viewPosts', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.viewPosts', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}