{% extends "layout.html" %}
{% block content %}
<div class="content-section pt-2">
    <div class="container pt-2"></div>
        <div class="container-fluid pb-2 pt-4 border rounded">
            <div class="media">
                <div class="media-left">
                    <img src="{{url_for('static', filename='pics/profiles/'+post.author.profilePic)}}" class="media-object rounded-circle border" style="width:60px">
                </div>
                <div class="media-body pl-2">
                    <h4 class="mt-0">{{ post.title }}</h4>
                    <div>
                        {{ post.content|safe }}
                    </div>
                    <div>
                        {% for tag in tagsForPost %}
                            <span class="badge {{ tag[1].tagType }}">{{ tag[0].tagName }}</span>
                        {% endfor %}
                    </div>
                    <small class="text-muted">
                        <i>
                            Created By: {{ post.author.username }} on {{ post.date_posted.strftime('%d-%m-%Y') }} 
                        </i>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}