{% extends "layout.html" %}
{% block content %}
    <div class="content-section text-center">
        <h1>You don't have permission to access this page (401)</h1>
        <p>Please check your with a site admin if you believe this is incorrect.</p>
    </div>
{% endblock content %}