{% extends "layout.html" %}
{% block content %}

			<div class=" text-center pb-2 pt-4">
				<p class="h1 ">Welcome to my website</p>
				<p>
					I have built this website to practice Python, expand upon my skills, 
					host photos from holidays and some other projects too. 
				</p>
				<p>
					Please feel free to look around.
				</p>
			</div>


			<div id="carouselFP" class="carousel slide pb-4" data-ride="carousel">
				<ol class="carousel-indicators">
				{% for image in carouselImages %}
					<li data-target="#carouselFP" data-slide-to="{{ loop.index-1 }}" class="{% if loop.index == 1 %}active{% endif %}"></li>
				{% endfor %}
				</ol>
				<div class="carousel-inner">
					{% for image in carouselImages %}
						<div class="carousel-item {% if loop.index == 1 %}active{% endif %}">				
							<img class="d-block w-100 rounded border" src="{{url_for('static', filename='pics/carousel/'+image.filename)}}">
							<div class="carousel-caption d-none d-md-block">
								<h2>{{ image.title }}</h2>
								<p>{{ image.small_text }}</p>
							</div>
						</div>
					{% endfor %}
				</div>
				<a class="carousel-control-prev" href="#carouselFP" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselFP" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>


			<div class="card" id="AboutMe">
				<div class="card-body">
					<h5 class="card-title">About Me</h5>
					<p>
						I am Dave Fenwick, {{ age }} years old and have been working with data for the past {{ worklength }} years.
						Having found a way to turn my passion into product a little later than most, I have ensured that my development 
						has maintained a constant and steady progress. Through working in areas involving front end database administration, 
						analytics, reporting, back-end integration, webhooks and APIs I have had a great platform to learn and advance.
					</p>
					<p>
						Utilising Pythons free and open-source environment has enabled me to implement scalable and cost-effective 
						solutions to business problems, quickly and effectively enhancing our offering to our customers. Creating 
						integration components that solve business needs, enabling us to be more productive without having to 
						increase headcount. Programmatically collecting, transforming and unleashing the power of data in an effective 
						manner without having to break the bank to do so.
					</p>
					<p>
						I am currently employed at Charles Kendall, working as an Integration and BI Developer where I am creating Python 
						components to help collect, store and distribute mission critical data across the business. In many cases 
						removing the requirement for additional office tasks when taking on new and differing workloads. Creating 
						end-to-end workflows that enable us to offer our customers best in class prices, work completion times and 
						accuracy. For me information on my work history, take a look at my 
						<a href="https://www.linkedin.com/in/david-fenwick-97b5a6145/">linkedin</a> account.
					</p>
					<p>
						As the carousel may suggest, I also have an interest in photography, wildlife & travel. Please feel free to 
						look through some of the photographs from my travels. There is also a selection of example Python projects that 
						explore some of the areas I have worked in.
					</p>
					<p class="card-text"><small class="text-muted">Last updated 04/12/2019</small></p>
				</div>
				<img src="{{url_for('static', filename='pics/profiles/dfenwick.png')}}" class="rounded mx-auto d-block pb-4" alt="..." width="250">
			</div>
{% endblock content %}