<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150914670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150914670-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='pics/favicon.ico') }}">

    <!-- include libraries(jQuery, bootstrap) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Summernote, fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
    <script src="https://kit.fontawesome.com/b75358f578.js" crossorigin="anonymous"></script>
    

    <title>Dave Fenwick CV Site</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">DF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home#AboutMe">About Me<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('posts.viewPosts') }}">Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('projects.thisWebsite')}}">This Website</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('projects.readPDF')}}">Reading PDF Data</a>
            <a class="dropdown-item" href="{{ url_for('projects.writePDF')}}">Writing PDFs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('projects.weatherAPI')}}">API Weather Tool</a>
            <a class="dropdown-item" href="{{ url_for('projects.publicAPIInput')}}">API Recieving Data</a>
            <a class="dropdown-item" href="{{ url_for('projects.jQueryYoutubeFlikr')}}">Youtube & Flikr API</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('projects.dataDisplay') }}">Data Visualisation</a>
            <a class="dropdown-item" href="{{ url_for('projects.GAPublicView') }}">Google Analytics Data</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('projects.certsDisplay') }}">DataCamp Certificates</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('projects.jQueryExample') }}">jQuery Basic</a>
          </div>
        </li>
      </ul>
      {% if current_user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Tools</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('admin.updateProfile') }}">Update Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('posts.newPost') }}">Create New Post</a>
            <a class="dropdown-item" href="{{ url_for('admin.addNewPostTags') }}">Create New Post Tag</a>
            <a class="dropdown-item" href="{{ url_for('admin.deletePostTags') }}">Delete Post Tags</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('admin.updateCarousel')}}">Update Carousel Img</a>
            <a class="dropdown-item" href="{{ url_for('admin.deleteCarousel')}}">Delete Carousel Img</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('admin.addCertificate')}}">Add Certificate</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('admin.logout') }}">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.adminLogin') }}">Admin Login</a>
      </li>
    </ul>
    {% endif %}
    </div>
  </nav>
  <body>
    <main class="container">
      <div class="text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="pt-4"></div>
            {% for category, message in messages %}
              <div class=" alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      {% block content %}{% endblock %}
    </main>
    
  </body>
  <footer>
      <div id="Contact" class="container pt-4 text-center">
          <div class="row">
            <div class="col-sm">
              <p class="h1">Contact</p>
              <p>Mobile +44 7711 883 646</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <a href="mailto:dfenwick138@gmail.com"><i class="fas fa-at fa-4x pr-2"></i></a>
              <a href="https://www.linkedin.com/in/david-fenwick-97b5a6145/" target="_blank"> <i class="fab fa-linkedin fa-4x pr-2"></i></a>
            </div>
          </div>
        </div>
  </footer>
</html>