{% extends "layout.html" %}
{% block content %}

<div id="chart1">
    <embed type="image/svg+xml" src= {{ irisData.boxPlot|safe }} />
</div>


<div id="chart1">
    <embed type="image/svg+xml" src= {{ irisData.hist|safe }} />
</div>

{% endblock content %}