{% extends "layout.html" %}
{% block content %}

            <script>
                $(document).ready(function(){
                    $('.toast').toast('show');
                });
            </script>

            <h1 class="pt-4">
                Example API Utility
            </h1>
            <p>
                This API example will simply recieve your posted JSON data, store it in a database 
                and display it here as a Toast. The page will need to be refreshed after you have 
                posted your data.
            </p>
            <h6>
                What is a Toast?
            </h6>

            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto">Example Toast!</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello! This is a toast message.
                </div>
            </div>
            <h6>
                POST JSON format:
            </h6>
            <pre><code>
                {
                    'data': {
                        'name': 'YOUR NAME',
                        'message': 'YOUR MESSAGE'
                    }
                }
            </code></pre>
            <h6>
                POST Address:
            </h6>
            <p>dfenwick.me.uk/projects/public/api/postAndDisplay</p>
            <h6>
                Recieved Toast Notifications:
            </h6>
            {% for item in apiData %}
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto">{{ item.name }}</strong>
                    <small>{{ item.date_posted.strftime('%Y-%m-%d') }}</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ item.msg }}
                </div>
            </div>
{% endfor %}
{% endblock content %}