{% extends "layout.html" %}
{% block content %}

<div class="container pt-4">
    <h1>
        <a href="https://www.datacamp.com/" target="_blank">DataCamp</a> Certificates
    </h1>
    <p>Please find below the DataCamp certificates from a brief subscription I had, with the main intentions of 
        the subscription to sharpen up/pratice and to learn some machine learning concepts etc.</p>
    <p>I have also completed the Neural Networks and Deep Learning course on <a href="https://www.coursera.org/learn/neural-networks-deep-learning" target="_blank">Coursera</a>, the certificate is also included below.</p>
    <div class="accordion pt-1" id="accordionCerts">
        {% for cert in certs.items %}
        <div class="card border-bottom">
            <div class="card-header" id="heading{{ loop.index0 }}">
                <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse{{ loop.index0 }}">
                    {{ cert.title }}
                </button>
                </h2>
            </div>

            <div id="collapse{{ loop.index0 }}" class="collapse" aria-labelledby="heading{{ loop.index0 }}" data-parent="#accordionCerts">
                <div class="card-body">
                    <p>Click to view <a href="/projects/certs/{{ cert.filename }}" target="_blank">{{ cert.title }}</a> 
                    </p>
                    <p>{{ cert.content }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container text-center pt-2">
            {% if certs.prev_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('projects.certsDisplay', page=certs.prev_num) }}">Prev</a>
            {% endif %}
            {% for page_num in certs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if certs.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('projects.certsDisplay', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('projects.certsDisplay', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            {% if certs.next_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('projects.certsDisplay', page=certs.next_num) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}