{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<div class="container">
    <h1 class="pt-4">Avocado Prices Data</h1>
    <h6>Historical data on avocado prices and sales volume in multiple US markets</h6>
    <p>
        This data has been obtained from 
        <a href="https://www.kaggle.com/neuromusic/avocado-prices/data" taget="_blank">Kaggle</a>.
        This page is more of an example of how data can be distributed and consumed from a web based
        Python platform, as opposed to an actual in-depth discovery of Avocados sales in the US.
    </p>
</div>
    <table id="table_id" class="display" style="width:100%">
        <thead>
            <tr>												
                <th>Date</th>
                <th>AveragePrice</th>
                <th>Total Volume</th>
                <th>4046</th>
                <th>4225</th>
                <th>4770</th>
                <th>Total Bags</th>
                <th>Small Bags</th>
                <th>Large Bags</th>
                <th>XLarge Bags</th>
                <th>type</th>
                <th>year</th>
                <th>region</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>AveragePrice</th>
                <th>Total Volume</th>
                <th>4046</th>
                <th>4225</th>
                <th>4770</th>
                <th>Total Bags</th>
                <th>Small Bags</th>
                <th>Large Bags</th>
                <th>XLarge Bags</th>
                <th>type</th>
                <th>year</th>
                <th>region</th>
            </tr>
        </tfoot>
    </table>
<div class="container">
    <div class="pt-2">
        <h5>Analysis of Avocado Prices</h5>
        <h6>Relevant Columns In Dataset:</h6>
        <ul>
            <li>Date - The date of the observation</li>
            <li>AveragePrice - the average price of a single avocado</li>
            <li>type - conventional or organic</li>
            <li>year - the year</li>
            <li>Region - the city or region of the observation</li>
            <li>Total Volume - Total number of avocados sold</li>
            <li>4046 - Total number of avocados with PLU 4046 sold</li>
            <li>4225 - Total number of avocados with PLU 4225 sold</li>
            <li>4770 - Total number of avocados with PLU 4770 sold</li>
        </ul>
    </div>
    <div>
        <p>
            So we have had a little look at the data and understand what data each column holds, 
            lets start taking a deeper look at some of the more relevant data. I will be aggregating 
            by month regularly to reduce noise and increase clarity.
        </p>
        <h6>Region:</h6>
        <h7>All regions in our data.</h7>
        <p>
            {% for location in avoData.uniqueRegion %}
                {{ location }}
            {% endfor %}
        </p>
        <p>
            There appears to be some pre-aggregated data, with regions like 
            <b>
                {% for location in avoData.preAggedRegions %}
                    {{ location }}
                {% endfor %}
            </b>.
            For the purposes of this demonstration I will leave the data as it is and 
            treat each line as granular entries.
        </p>
        <p>
            The region with the highest Average Price at a single point in time is 
            <b>{{ avoData.dfHighPriceReg[0] }}</b> and this was achieved on <b>{{ avoData.dfHighPriceReg[1] }}</b>.
        </p>
        <p>
            The region with the overall highest Average Price is PLACEHOLDER
        </p>
        <p>
            We will revisit why the high average prices in certain regions is so high as we 
            progress and also why it's not important, for now we can note that the type of Avocados 
            that see the highest Average Price is Organic.
        </p>
        <h6>Date:</h6>
        <p>The date range in this data is: <b>{{ avoData.dateMin }}</b> to <b>{{ avoData.dateMax }}</b></p>
        <h6>Average Price:</h6>
        <ul>
            <li>Actual Avg: ${{ avoData.avgPrice }}</li>
            <li>Min AP: ${{ avoData.avgPriceMin|float|round(2) }}</li>
            <li>Max AP: ${{ avoData.avgPriceMax|float|round(2) }}</li>
            <li>Std Dev: ${{ avoData.std|float|round(2) }}</li>
            <li>Organic AP: ${{ avoData.organicAP|float|round(2) }}</li>
            <li>Conventional AP: ${{ avoData.convAP|float|round(2) }}</li>
            <li>Type AP Diff: ${{ avoData.organicAP-avoData.convAP|float|round(2) }} </li>
            <li>Organic AP % Diff: {{ (((avoData.organicAP-avoData.convAP)/avoData.organicAP)|float|round(2) * 100)|int }}%</li>
        </ul>
        <div id="chart1" class="rounded">
            <embed type="image/svg+xml" src= {{ avoData.boxPlotR|safe }} />
        </div>
        <p>
            The inter quartile range on the box plot shows us that out data is distributed relatively 
            normally and that working with data that is not skewed. We also see that the outlier average
            prices have relatively little impact on the data and that they are contained to the Organic type. 
            So we can proceed without concern on that front and with a view to understanding the disparity 
            between organic and conventional.
        </p>
        <div id="chart1">
            <embed type="image/svg+xml" src= {{ avoData.lineChart1R|safe }} />
        </div>
        <p>
            The average price of Organic Avocados is on average 30% less expensive than 
            Conventional, however the average price of Avocados is barely influenced by the less expensive 
            organic option. This is telling us that the sales of Organic pale in comparison to Conventional.
        </p>
        <p>
            With Conventional Total Volume <b>{{ "{:,}".format(avoData.conTot) }}</b>
            avocados sold and Organic Total Volume of <b>{{ "{:,}".format(avoData.orgTot) }}</b>.
            We can clearly see that the Conventional type far outsells the Organic with
            <b>{{ ((avoData.conTot/(avoData.conTot+avoData.orgTot))*100)|round(2) }}%</b> 
            of the volume sold being the Conventional type.
        </p>
        <p>
            This also helps us shed some light on why the relatively high average price of Organic 
            avocados in certain regions has little to no impact on overall averages.
        </p>
        <p>
            It becomes apparent when looking at the Avg or Conventional data alone on the graph, that 
            there appears to be a seasonal spike in prices during and leading to the month of February. 
            Something for us to take a closer look at next.
        </p>
        <div id="chart1" class="rounded">
            <embed type="image/svg+xml" src= {{ avoData.lineChart2R|safe }} />
        </div>
        <p>
            Our overall graph clearly shows us the seasonality of the sales of Avocaods, that the most favourable 
            month to consume/buy is February, with January, May & December also being good months to buy. 
            We can also see that conversely, during and towards the end of the summer months is when total 
            volume sold is declining as pricing is increasing. With October being the worst month, on average, to 
            buy avocados.
        </p>
        <p>
            As we have interactive graphs, lets use them. The below graph is messy, feel free to untick specific 
            years to get a year by year break down.
        </p>
        <div id="chart1" class="rounded">
            <embed type="image/svg+xml" src= {{ avoData.lineChart3R|safe }} />
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#table_id').DataTable( {
            "paging":   true,
            "ordering": true,
            "info":     true,
            "ajax": "/static/data/avocado.txt"
        } );
    } );
</script>

{% endblock content %}