{% extends "layout.html" %}
{% block content %}

<div class="container pt-4">
    <h2 class="border-bottom mb-4">
        Example jQuery Page
    </h2>
    <p class="pt-2">
        jQuery is a fast, lightweight JavaScript library that has many features based on the 
        "write less, do more" principle. jQuery really comes into it's own when using API endpoints 
        on the web server.
    </p>
    <p>
        Below is a simple example of jQuery, it is amending the text into the "output" paragraph when you 
        click submit.
    </p>
    <p>
        The <a href="/projects/jQuery/ytFlikr">Youtube Flikr API example</a> is using jQuery to fetch data 
        from an API endpoint within the server to display to the user.
    </p>
    <form id="exampleForm">
        <div class="form-group">
            <label>Input Name</label>
            <input required type="text" class="form-control" id="name" placeholder="Enter Your Name Please">
        </div>
        <button id="button" class="btn btn-primary" >Say Hello!</button>
    </form>
    <p id="output" class="pt-2"></p>
</div>

<script>
    $(function() {
        $("#exampleForm").submit(function(e) {
            e.preventDefault();
        });
        $("#output").hide()
        $("#button").click(function() {
            var hello = "Hello ";
            var name = $("#name").val();
            var output = hello.concat(name);
            if (name != "") {
                $("#output").text(output).slideToggle(300);
            };
        });
    });
</script>

{% endblock content %}