{% extends "layout.html" %}
{% block content %}

            <h1 class="pt-4">
                Reading PDF Data with Python
            </h1>
            <p>
                There are several ways to approach this problem in Python, in this 
                example I will be using PyPDF2. I have also used Tabula-py when 
                reading system generated PDFs, for scanned documents I have used 
                OCR (optical character recognition) Textract and Pyocr.
            </p>
            <p>
                The example PDF for this exervise has been obtained from 
                <a href="http://www.africau.edu/images/default/sample.pdf" target="_blank">here</a>.
            </p>
            <p>
                Please note that running this PyPDF2 code on Ubuntu Server 19.1 is currently throwing 
                out an error. The outputs for this exervise is currently hardcoded into webpage.
            </p>
            <h6>
                PyPDF2
            </h6>
            <pre><code>
            pageData = []
            with open(current_app.config['EXAMPLE_PDF'], 'rb') as f:
                fileReader = PyPDF2.PdfFileReader(f)
                numP = fileReader.numPages
                for x in range(numP):
                    page = fileReader.getPage(x)
                    pageData.append(page.extractText())
            </code></pre>
            <h6>
                Output
            </h6>
            <p>
                Total Number of Pages: 2
            </p>

            <p>
               Page: 1
            </p>
            <p>
                Content:
                A Simple PDF File This is a small demonstration .pdf file - just for use in the 
                Virtual Mechanics tutorials. More text. And more text. And more text. And more text. 
                And more text. And more text. And more text. And more text. And more text. 
                And more text. And more text. Boring, zzzzz. And more text. And more text. 
                And more text. And more text. And more text. And more text. And more text. 
                And more text. And more text. And more text. And more text. And more text. 
                And more text. And more text. And more text. And more text. Even more. Continued on page 2 ...
            </p>
            <p>
                Page: 2
            </p>
            <p>
                Content: Simple PDF File 2 ...continued from page 1. Yet more text. And more text. 
                And more text. And more text. And more text. And more text. And more text. And more text. 
                Oh, how boring typing this stuff. But not as boring as watching paint dry. And more text. 
                And more text. And more text. And more text. Boring. More, a little more text. The end, and just as well.
            </p>
            <p>
                PyPDF2 can be great for simple PDF processes, such as text mining.
                Under some circumstances I would want to use a more targeted approach, 
                in which case I would use Tabula-py and designate a specific area of 
                the PDF to be processed.
            </p>
            <h6>
                Tabula-py
            </h6>
            <p>
                When using Tabula-py, I will also being using 
                <a href="https://www.gimp.org/" target="_blank">GIMP</a> in order to get the 
                points values of the area I would like to read text from the PDF. It is worth 
                noting that Tabula is built on Java, so will require this to be installed.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img src="{{url_for('static', filename='pics/pdf/gimp1.jpg')}}" class="rounded mx-auto d-block pb-4" alt="..." width="250">
                    </div>
                    <div class="col-sm">
                        <img src="{{url_for('static', filename='pics/pdf/gimp2.jpg')}}" class="rounded mx-auto d-block pb-4" alt="..." width="250">
                    </div>
                </div>
            </div>
            <p>
                I can plug these points values into my Python code to get the data for the 
                desired area. Another benefit is that the data is returned as a pandas 
                dataframe.
            </p>
            <pre><code>
            x1 = 60.5
            y1 = 40.3
            x2 = x1 + 334.8
            y2 = y1 + 205.9
            df_check = read_pdf(current_app.config['EXAMPLE_PDF'], 
                                area=(y1, x1, y2, x2),
                                guess=False, 
                                spreadsheet=False, 
                                stream=True)
            </code>
            </pre>
            <p>
                When looking at the head of the dataframe:
            </p>
            <pre>
            <samp>
            A Simple PDF File
            0          This is a small demonstration .pdf file -
            1  just for use in the Virtual Mechanics tutorial...
            2  text. And more text. And more text. And more t...
            3  And more text. And more text. And more text. A...
            4  text. And more text. Boring, zzzzz. And more t...
            </samp>
            </pre>

{% endblock content %}