{% extends "layout.html" %}
{% block content %}

<h1 class="pt-4">
    About this website
</h1>
<p>
    This website was built using the Python 
    <a href="https://pypi.org/project/Flask/" target="_blank">Flask</a> 
    framework and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.
    I am also using the <a href="https://summernote.org/" target="_blank">summernote</a> 
    wysiwyg editor for creating posts.
</p>
<p>
    The website is hosted on a <a href="https://www.virtualbox.org/" target="_blank">
    VirtualBox VM</a> running 
    <a href="https://ubuntu.com/download/server" target="_blank">
    Ubuntu Server 19.1</a>,
    <a href="https://www.nginx.com/" target="_blank">
    nginx</a> & 
    <a href="https://gunicorn.org/" target="_blank">
    gunicorn.</a>
</p>
<p>
    For a more indepth please take a look at the 
<a href="https://bitbucket.org/Dayvinho/mywebsite/src/master/" target="_blank">Git</a> or 
<pre><code>git clone https://Dayvinho@bitbucket.org/Dayvinho/mywebsite.git</code></pre>
</p>
<h2>
    Currently Offline on Ubuntu Server
</h2>
<p>
    I am currently working on hosting this website on a Raspberry Pi 4 and also integrating 
    a mesh webcam solution as a potential offering for a charity I would like to work with 
    in the future.
</p>
{% endblock content %}