{% extends "layout.html" %}
{% block content %}
<h1 class="pt-4">
    Writing PDFs with Python
</h1>
<p>
    A great package for creating PDFs within Python is to use the reportlab package. 
    Generally we have two options, create a template and fill in the blanks by location, 
    or to create a PDF from scratch each time we write one, the latter being the methodology 
    used in this example.
</p>
<h2>
    Work In Progress - Not Finished
</h2>
<pre><code>

    from reportlab.lib.pagesizes import A4
    from reportlab.lib.enums import TA_LEFT, TA_RIGHT, TA_JUSTIFY, TA_CENTER
    from reportlab.platypus import (BaseDocTemplate, Paragraph, Spacer, 
                                    Image, Table, Frame, PageTemplate)
    from reportlab.lib.styles import getSampleStyleSheet, ParagraphStyle
    from reportlab.lib.units import inch, cm
    from reportlab.graphics.shapes import Drawing, Line
    from reportlab.lib import colors
    from reportlab.lib import utils

    save_path = join(current_app.config['SAVE_DIR'], 'PDF', data_type, filename)
    #establish currency
    if data["currency"] == 'GBP':
        symbol = '£'
    else:
        symbol = '€'

    #styles
    global styles
    styles=getSampleStyleSheet()
    styles.add(ParagraphStyle(name='Justify', alignment=TA_JUSTIFY))
    styles.add(ParagraphStyle(name='Center', alignment=TA_CENTER))
    styles.add(ParagraphStyle(name='Left', alignment=TA_LEFT))
    styles.add(ParagraphStyle(name='Right', alignment=TA_RIGHT))

    # setup margin sizes and stuff
    side_margins = 30
    tb_margins = 36
    
    #setup doc template
    doc_kwargs = {'title': f'Invoice {id_fn}'}
    doc = BaseDocTemplate(save_path, 
                          rightMargin=side_margins,
                          leftMargin=side_margins,
                          topMargin=tb_margins,
                          bottomMargin=tb_margins,
                          pagesize=A4,
                          **doc_kwargs)
    #create frame and template so the footer will be added
    frame = Frame(doc.leftMargin, 
                  doc.bottomMargin, 
                  doc.width, 
                  doc.height,
                  id='normal')
    template = PageTemplate(id='test', frames=frame, onPage=footer)
    doc.addPageTemplates([template])
    width, heigth = doc.pagesize
    story = []

    #get logo path and date
    path_val = current_app.config['IMG_DIR']
    logo = join(path_val, 'CK_Freight_RGB.png')
    
    #start adding stuff to pdf list
    #im = Image(logo)
    im = imageResize(logo, width=6*cm)
    #if not order_id, order_num, data["order_num"]
    order_id = data['name']
    h1 = Paragraph(f'Invoice {order_id}', 
                    styles["Normal"])
    header = [[im, h1]]
    
    t = Table(header, colWidths=[(width - (2.8*side_margins))/2] * 2,
                style=[
                ('ALIGN', (0,0),(0,-1), 'LEFT'),
                ('ALIGN', (-1,-1),(-1,0), 'RIGHT'),
                ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
                
    story.append(t)
    d = Drawing(100, 1)
    #d.add(Line(0, 0, width*.95, 0))
    d.add(Line(0, 0, (width - (2.8*side_margins)), 0))
    #how to change line colour?
    #d... = colors.gray
    story.append(Spacer(1, 15))
    story.append(d)
    story.append(Spacer(1, 15))

    #continue adding stuff to pdf list

    sup_client = []
    p1 = Paragraph(f'Supplier:', 
                    styles["Normal"])
    p2 = Paragraph(f'Client:', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    p1 = Paragraph(f'Charles Kendall Freight Ltd', 
                    styles["Normal"])
    if data["billing_address"]["company"] is not None:
        p2 = Paragraph(f'{data["billing_address"]["company"]}', 
                    styles["Normal"])
    else:
        fname = data["billing_address"]["first_name"]
        lname = data["billing_address"]["last_name"]
        p2 = Paragraph(f'{fname} {lname}', 
                    styles["Normal"])
    
    
    sup_client.append([p1, p2])

    p1 = Paragraph(f'Spur Road', 
                    styles["Normal"])
    p2 = Paragraph(f'{data["billing_address"]["address1"]}', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    p1 = Paragraph(f'Feltham', 
                    styles["Normal"])
    p2 = Paragraph(f'{data["billing_address"]["city"]}', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    p1 = Paragraph(f'Middlesex', 
                    styles["Normal"])
    p2 = Paragraph(f'{data["billing_address"]["province"]}', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    p1 = Paragraph(f'TW13 0SL', 
                    styles["Normal"])
    p2 = Paragraph(f'{data["billing_address"]["zip"]}', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    p1 = Paragraph(f'United Kingdom', 
                    styles["Normal"])
    p2 = Paragraph(f'{data["billing_address"]["country"]}', 
                    styles["Normal"])
    sup_client.append([p1, p2])

    t = Table(sup_client, 
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
    t.hAlign = "LEFT"
    story.append(t)
    story.append(Spacer(1, 15))

    vat_nums = []
    p1 = Paragraph(f'VAT No: XX XXX XXXX XX', 
                    styles["Normal"])
    if data['customer']['note']:
        cust_vat_num = str(data['customer']['note']).replace('VAT Registration Number: ','')
        p2 = Paragraph(f'VAT No: {cust_vat_num}', 
                    styles["Normal"])
    else:
        p2 = Paragraph(f'Vat No: N/A', 
                    styles["Normal"])  
    vat_nums.append([p1, p2])

    t = Table(vat_nums, 
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
    t.hAlign = "LEFT"
    story.append(t)
    story.append(Spacer(1, 15))
  
    shipping_data = []

    p1 = Paragraph(f'''Example Address, Example Address \n 
Example POST CODE Registered in England No XXXXX
''', 
                    styles["Normal"])
    p2 = Paragraph(f'Shipping Address:', 
                    styles["Normal"])
    shipping_data.append([p1, p2])

    p1 = Paragraph(f'', 
                    styles["Normal"])
    if {data["shipping_address"]["company"]} is not None:
        p2 = Paragraph(f'{data["shipping_address"]["company"]}', 
                    styles["Normal"])
    else:
        fname = data["shipping_address"]["first_name"]
        lname = data["shipping_address"]["last_name"]
        p2 = Paragraph(f'{fname} {lname}', 
                    styles["Normal"])
    
    shipping_data.append([p1, p2])

    p2 = Paragraph(f'{data["shipping_address"]["address1"]}', 
                    styles["Normal"])
    shipping_data.append([p1, p2])

    p2 = Paragraph(f'{data["shipping_address"]["city"]}', 
                    styles["Normal"])
    shipping_data.append([p1, p2])

    p2 = Paragraph(f'{data["shipping_address"]["zip"]}', 
                    styles["Normal"])
    shipping_data.append([p1, p2])

    p2 = Paragraph(f'{data["shipping_address"]["country"]}', 
                    styles["Normal"])
    shipping_data.append([p1, p2])

    t = Table(shipping_data, 
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
    t.hAlign = "LEFT"
    story.append(t)
    story.append(Spacer(1, 5))
    #
    date = datetime.now().strftime('%b. %d, %Y')

    # how to get payment info from data we recieve
    order_details = []
    p1 = Paragraph(f'Order Number: {order_id}', 
                    styles["Normal"])
    p2 = Paragraph(f'Issue Date: {date}', 
                    styles["Normal"])
    order_details.append([p1, p2])
    p1 = Paragraph('', styles["Normal"])
    p2 = Paragraph(f'Due Date: {date}', 
                    styles["Normal"])
    order_details.append([p1, p2])
    t = Table(order_details, 
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
    t.hAlign = "LEFT"
    story.append(t)
    story.append(Spacer(1, 15))

    #line items
    ptext = f'Line Items:'
    story.append(Paragraph(ptext, styles["Normal"]))
    story.append(Spacer(1, 5))
    story.append(d)
    story.append(Spacer(1, 5))

    table_data = [[Paragraph(f'Item Name', styles["Center"]),
                Paragraph(f'SKU', styles["Center"]),
                Paragraph(f'Quantity', styles["Center"]),
                Paragraph(f'Unit Price', styles["Center"])]]
    for item in data["line_items"]:
        table_data.append([item["title"], item["sku"], item["quantity"], f'{symbol}{item["price"]}'])
    table_data.append(['Shipping', 'Shipping', 1, f'{symbol}{data["shipping_lines"][0]["price"]}'])
    align_counter = len(data["line_items"])

    t = Table(table_data,
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                    ('GRID', (0,0), (-1,-1), 1, colors.black),
                    ('BACKGROUND',(0,0),(-1,0),colors.gray),
                    ('ALIGN',(1,1),(1,align_counter),'LEFT'),
                ])
    t._argW[0] = 2.75 * inch
    t.hAlign = "CENTER"
    story.append(t)
    story.append(Spacer(1, 15))

    #order information
    ptext = f'Order Information:'
    story.append(Paragraph(ptext, styles["Normal"]))
    story.append(Spacer(1, 5))

    story.append(d)
    story.append(Spacer(1, 5))

    #ptext = f'Email Address: {data["email"]}'
    #story.append(Paragraph(ptext, styles["Normal"]))
    #story.append(Spacer(1, 5))

    #ptext = f'Total Line Items Price: {symbol}{data["total_line_items_price"]}' 
    #story.append(Paragraph(ptext, styles["Normal"]))
    #story.append(Spacer(1, 5))
    order_tots = []
    tot_ex_vat = float(data["total_price"]) - float(data["total_tax"])
    p1 = Paragraph(f'Total Excl. VAT: {symbol}{tot_ex_vat}', 
                    styles["Normal"])
    order_tots.append([p1, ''])
    p1 = Paragraph(f'VAT: {symbol}{data["total_tax"]}', 
                    styles["Normal"])
    order_tots.append([p1, ''])
    p1 = Paragraph(f'Total Incl. VAT: {symbol}{data["total_price"]}', 
                    styles["Normal"])
    order_tots.append([p1, ''])
    if data['financial_status']:
        if data['financial_status'] == 'paid':
            p1 = Paragraph(f'Amount Due: {symbol}0.00', 
                    styles["Normal"])
            order_tots.append([p1, ''])
        else:
            p1 = Paragraph(f'Amount Due: {symbol}{data["total_price"]}', 
                    styles["Normal"])
            order_tots.append([p1, ''])
    t = Table(order_tots, 
              style=[
                    ('ALIGN', (0,0),(-1,-1), 'CENTER'),
                    ('VALIGN', (0,0),(-1,-1), 'MIDDLE'),
                ])
    t.hAlign = "LEFT"
    story.append(t)
    story.append(Spacer(1, 15))

    ptext = f'Any discrepancy should be reported with 24 hours of receipt of goods' 
    story.append(Paragraph(ptext, styles["Center"]))
    story.append(Spacer(1, 5))

    doc.build(story)
</code></pre>

{% endblock content %}