{% extends "layout.html" %}
{% block content %}

<div class="container pt-4">
    <h2 class="border-bottom mb-4">
        Search Youtube Videos & Flikr Images
    </h2>
    <div class="form-group">
        <label>Search Term</label>
        <input type="text" class="form-control" id="searchTerm" placeholder="Enter Search Term Please">
    </div>
    <button class="btn btn-primary" onclick="submit_search()">Search!</button>
    <div id="testOutput" class="pt-4">
        <h5>Youtube</h5>
        <p id="ytTitle"></p>
        <p id="ytDesc"></p>
        <center>
            <iframe id="ytplayer" type="text/html" width="640" height="360"  src=""  frameborder="0"></iframe>
        </center>
        <h5>Flikr</h5>
        <p id="flikrTitle"></p>
        <p id="flikrDesc"></p>
    </div>
</div>

<script>
    $(function() {
        $("#testOutput").hide()
    });
    function submit_search() {
        var search = $("#searchTerm").val();
        console.log(search)
        var payload = { data: { searchTerm: search }};
        
        $.ajax({
            type: "POST",
            url: "/projects/jQuery/api/ytFlikr",
            data: JSON.stringify(payload),
            contentType: "application/json",
            dataType: "json",
            success: function(data, status) {
                var youtubeVidID =  data.youtube.items[0].id.videoId;
                var youtubeTitle = data.youtube.items[0].snippet.channelTitle
                var youtubeDesc = data.youtube.items[0].snippet.description
                var flikrTitle = data.flikr.items[0].title
                var flikrDesc = data.flikr.items[0].description
                var iframe = $('#ytplayer');
                iframe.attr("src", "https://www.youtube.com/embed/" + youtubeVidID)
                $("#ytTitle").text(youtubeTitle);
                $("#ytDesc").text(youtubeDesc);
                $("#flikrTitle").text(flikrTitle);
                $("#flikrDesc").html(flikrDesc);
                $("#testOutput").show();
            }
        });
    };
</script>

{% endblock content %}