{% extends "layout.html" %}
{% block content %}

<div class="container pt-4">
  <h2 class="border-bottom mb-4">
      Search Youtube Videos & Flikr Images
  </h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset class="form-group">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          {{ form.searchTerm.label(class="form-control-label") }}
          {% if form.searchTerm.errors %}
              {{ form.searchTerm(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.searchTerm.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.searchTerm(class="form-control") }}
          {% endif %}
        </div>
        <div class="p-2 bd-highlight">
          <table>
            {{ form.vidLength.label }}
            {% for item in form.vidLength %}
              <tr id="vidLength">
                <td>{{ item }}</td>
                <td>{{ item.label }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="p-2 bd-highlight">
          {{ form.numOfResults.label(class="form-control-label") }}
          {% if form.numOfResults.errors %}
              {{ form.numOfResults(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.numOfResults.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.numOfResults(class="form-control") }}
          {% endif %}
        </div>
      </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="container">
  {% if data %}
    {{ pagination.info }}
    <table>
      <thead>
        <tr>
          <th>Youtube Video</th>
          <th>Flikr Image</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            <td>
              <div id="ytplayer{{ loop.index + pagination.skip }}" class="video-player" data-video-id="{{ item[0] }}"></div>
            </td>
            <td>
              {{ item[1]|safe }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }}
  {% endif %}
</div>

<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
  
  var videoPlayers = {};
  function onYouTubeIframeAPIReady() {
		var videoPlayerElements = document.getElementsByClassName("video-player");
  	
    for (var i = 0; i < videoPlayerElements.length; i++) {
      var videoPlayer = videoPlayerElements[i];
      
      videoPlayers[videoPlayer.id] = new YT.Player(videoPlayer.id, {
        height: '390',
        width: '640',
        videoId: videoPlayer.getAttribute('data-video-id'),
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
  }

  function onPlayerReady(event) {
    event.target.pauseVideo();
  }

  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  
  function stopVideo(player) {
    player.stopVideo();
  }
</script>

{% endblock content %}