{% extends "layout.html" %}
{% block content %}

<div class="container pt-4">
  <h2 class="border-bottom mb-4">
      Search Youtube Videos & Flikr Images
  </h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <fieldset class="form-group">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          {{ form.searchTerm.label(class="form-control-label") }}
          {% if form.searchTerm.errors %}
              {{ form.searchTerm(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.searchTerm.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.searchTerm(class="form-control") }}
          {% endif %}
        </div>
        <div class="p-2 bd-highlight">
          <table>
            {{ form.vidLength.label }}
            {% for item in form.vidLength %}
              <tr id="vidLength">
                <td>{{ item }}</td>
                <td>{{ item.label }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        <div class="p-2 bd-highlight">
          {{ form.numOfResults.label(class="form-control-label") }}
          {% if form.numOfResults.errors %}
              {{ form.numOfResults(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.numOfResults.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.numOfResults(class="form-control") }}
          {% endif %}
        </div>
      </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="container">
  {% if youtube %}
    <h4 class="border-bottom">Search Results</h4>
    <h5>Youtube</h5>
    <p>{{ youtube['items'][0]['snippet']['title']|safe }}</p>
    <p>{{ youtube['items'][0]['snippet']['description']|safe }}</p>
    <center><div id="player"></div></center>
  {% endif %}
  {% if flikr %}
    <h5 class="pt-4">Flikr</h5>
    <p>{{ flikr['items'][0]['title']|safe }}</p>
    {{ flikr['items'][0]['description']|safe }}
  {% endif %}
</div>

{% if youtube %}
  <script>
      var tag = document.createElement('script');
    
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: '{{ youtube["items"][0]["id"]["videoId"] }}',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }
    
      function onPlayerReady(event) {
        event.target.pauseVideo();
      }
    
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
  </script>
{% endif %}

{% endblock content %}