{% extends "layout.html" %}
{% block content %}
<div class="container col-8 pt-4">
    <h1>
        Create New Post Tags
    </h1>
    <p>
        Please enter your desired Tag Name below and the Tag Type (colour) for this 
        tag. Please look at the available options below.
    </p>
    <h6>
        Available Tags
    </h6>
    <ul>
        {% for tag in allTags %}
            <li><span class="badge {{ tag.tagType }}">{{ tag.tagName }}</span></li>
        {% endfor %}
    </ul>
    <h6>
        Tag Types
    </h6>
    {% for tag in tagTypes %}
        <span class="badge {{tag.tagType}}">{{ tag.tagType|replace('badge-','') }}</span>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data" action="" class="pt-2">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Add New Post Tags
            </legend>
            <div class="form-group">
                {{ form.tagName.label(class="form-control-label") }}
                {% if form.tagName.errors %}
                    {{ form.tagName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tagName.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tagName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tagType.label(class="form-control-label") }}
                {{ form.tagType(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}