{% extends "layout.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">
            Certificates - Add Certificate
        </legend>
        <p>Add new certificates here.</p>
        <div class="form-group">
            {{ form.filename.label(class="form-control-label") }}
            {% if form.filename.errors %}
                {{ form.filename(class="form-control form-control-lg border-0 is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.filename.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.filename(class="form-control border-0 pb-4 pt-1") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {% if form.title.errors %}
                {{ form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.content(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
</div>


{% endblock content %}<div class="container col-8 pt-4">
