{% extends "layout.html" %}
{% block content %}
<div class="container col-8 pt-4">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Front Page Carousel - Remove Image
            </legend>
            <p>Please select the images you wish to delete.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Filename</th>
                        <th scope="col">Title</th>
                        <th scope="col">Small Text</th>
                        <th scope="col">Date Posted</th>
                        <th scope="col">User</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in fpCarouselItems %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.filename }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.small_text }}</td>
                        <td>{{ item.date_posted }}</td>
                        <td>{{ item.fpImgs.username }}</td>
                        <td>
                            <div class="ml-5 ">
                                <input class="form-check-input" type="checkbox" value="{{ item.id }}" name="checkSelect" id="defaultCheck{{ loop.index }}">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                    {{ form.delete(class="btn btn-outline-info") }}
                </div>
        </fieldset>
    </form>
</div>
{% endblock content %}