{% extends "layout.html" %}
{% block content %}

<div class="container col-8 pt-4">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Post Tags - Remove Tag From Database
            </legend>
            <p>Please select the tags you wish to delete, 
                any tags associated with posts will have the association removed.</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tag Name</th>
                        <th scope="col">Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in allTags %}
                    <tr>
                        <td>{{ tag.PostTags.id }}</td>
                        <td>{{ tag.tagName }}</td>
                        <td>
                            <div class="ml-5 ">
                                <input class="form-check-input" type="checkbox" value="{{ tag.PostTags.id }}" name="checkSelect" id="defaultCheck{{ loop.index }}">
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                    {{ form.delete(class="btn btn-outline-info") }}
                </div>
        </fieldset>
    </form>
</div>


{% endblock content %}