{% extends "layout.html" %}
{% block content %}
<div class="container col-8 pt-4">
    <form method="POST" enctype="multipart/form-data" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Front Page Carousel - Add Image
            </legend>
            <p>This is designed to resize 4K images to 1440p, reducing file size.</p>
            <div class="form-group">
                {{ form.photo.label(class="form-control-label") }}
                {% if form.photo.errors %}
                    {{ form.photo(class="form-control form-control-lg border-0 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.photo.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.photo(class="form-control border-0 pb-4 pt-1") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.small_text.label(class="form-control-label") }}
                {% if form.small_text.errors %}
                    {{ form.small_text(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.small_text.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.small_text(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}